<nav class="navbar bg-base-200 px-4 gap-3 flex-wrap">
  <div class="navbar-start w-auto max-w-full gap-2 flex-wrap">
    <%= link_to "Clients", clients_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Contacts", client_contacts_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Freelancers", freelancer_profiles_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Missions", missions_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Candidats", candidates_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Placements", placements_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Factures", invoices_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Commissions", commissions_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "Paiements", payments_path, class: "btn btn-ghost btn-sm" %>
  </div>

  <div class="navbar-end ml-auto">
    <%= image_tag "icon_pers_white.svg", alt: "Profil", class: "h-10 w-10 object-contain [filter:brightness(0)_invert(1)]" %>
  </div>
</nav>
