<% active_controller = controller_name %>

<aside class="freelance-sidebar" data-freelance-sidebar>
  <div class="freelance-sidebar__shell">
    <div class="freelance-sidebar__header">
      <%= link_to safe_join([
        content_tag(:span, inline_svg_tag("icon_pers.svg", class: "freelance-sidebar__brand-mark-icon"), class: "freelance-sidebar__brand-mark"),
        content_tag(:span, inline_svg_tag("icon_rivyr.svg", class: "freelance-sidebar__brand-wordmark-icon"), class: "freelance-sidebar__brand-wordmark")
      ]), missions_path, class: "freelance-sidebar__brand", aria: { label: "Rivyr" } %>
    </div>

    <div class="freelance-sidebar__content">
      <button type="button" class="freelance-sidebar__collapse freelance-sidebar__collapse--content" aria-label="Réduire la sidebar freelance" aria-expanded="true" data-freelance-sidebar-toggle>
        <span class="freelance-sidebar__collapse-open"><i class="fa-solid fa-angle-left"></i></span>
        <span class="freelance-sidebar__collapse-closed"><i class="fa-solid fa-bars"></i></span>
      </button>

      <ul class="freelance-sidebar__menu">
        <li class="freelance-sidebar__menu-item">
          <span class="freelance-sidebar__item freelance-sidebar__item--disabled">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
          </span>
        </li>
        <li class="freelance-sidebar__menu-item">
          <%= link_to missions_path, class: ["freelance-sidebar__item", ("freelance-sidebar__item--active" if active_controller == "missions")] do %>
            <i class="fa-solid fa-briefcase"></i>
            <span>Missions</span>
          <% end %>
        </li>
        <li class="freelance-sidebar__menu-item">
          <%= link_to invoices_path, class: ["freelance-sidebar__item", ("freelance-sidebar__item--active" if active_controller == "invoices")] do %>
            <i class="fa-solid fa-file-invoice"></i>
            <span>Factures</span>
          <% end %>
        </li>
        <li class="freelance-sidebar__menu-item">
          <%= link_to freelancer_profiles_path, class: ["freelance-sidebar__item", ("freelance-sidebar__item--active" if active_controller == "freelancer_profiles")] do %>
            <i class="fa-solid fa-folder-open"></i>
            <span>CVthèque</span>
          <% end %>
        </li>
        <li class="freelance-sidebar__menu-item">
          <span class="freelance-sidebar__item freelance-sidebar__item--disabled">
            <i class="fa-solid fa-list-check"></i>
            <span>To-do list</span>
          </span>
        </li>
        <li class="freelance-sidebar__menu-item">
          <span class="freelance-sidebar__item freelance-sidebar__item--disabled">
            <i class="fa-solid fa-newspaper"></i>
            <span>Feed</span>
          </span>
        </li>
        <li class="freelance-sidebar__menu-item">
          <span class="freelance-sidebar__item freelance-sidebar__item--disabled">
            <i class="fa-solid fa-users"></i>
            <span>Communauté</span>
          </span>
        </li>
      </ul>
    </div>

    <% if user_signed_in? %>
      <div class="freelance-sidebar__footer">
        <div class="freelance-sidebar__avatar">
          <%= (current_user.first_name.to_s.first || current_user.email.to_s.first || "U").upcase %>
        </div>
        <div class="freelance-sidebar__identity">
          <strong><%= current_user.first_name.presence || current_user.email %></strong>
          <span><%= current_user.role.presence || "Utilisateur" %></span>
        </div>
      </div>
    <% end %>
  </div>
</aside>
