<!DOCTYPE html>
<html data-theme="custom-light">
  <head>
    <title><%= content_for(:title) || "Rivyr Saas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rivyr Saas">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon_pers.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v7.1.0/css/all.css">
<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% show_freelance_sidebar = user_signed_in? && current_user.role_freelance? %>

  <body class="relative min-h-screen bg-linear-to-br from-rose-200 via-pink-100 to-orange-100 bg-fixed <%= 'has-freelance-sidebar' if show_freelance_sidebar %>">
    <% if user_signed_in? %>
      <%= render(show_freelance_sidebar ? "shared/freelance_top_navbar" : "shared/app_top_navbar") %>
    <% end %>
    <%= render "shared/freelance_sidebar" if show_freelance_sidebar %>
    <main class="relative z-10 <%= 'freelance-sidebar-layout' if show_freelance_sidebar %>">
      <%= yield %>
    </main>
    <%= render "shared/flashes" %>
  </body>
</html>
